p.sample {
    color: #000000;
    background-color: #99cc00
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}


/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: lightpink;
    transition: .4s;
}
.cancelbtn:hover {
    width: auto;
    background-color: #f44336;
}

/* Center the container */
/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


/* Refer https://saruwakakun.com/html-css/reference/buttons#section1 */
.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}


/* Refer http://adis.ca/entry/2011/pretty-code-block-in-css/ */
pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}